
	body {
		background-color: rgba(247, 247, 247, 1);
		font-family: 'Gotham Narrow', sans-serif;
		font-weight: 400;
		font-size: 1.05em;
		line-height: 1.4em;
		text-align: left;
		color: rgba(46, 46, 46, 1);
		margin: 0 auto;
		max-width: 650px;
	    padding: 0% 10% 0% 10%;
	    margin-bottom: 3em;
	}

	.bodyindex {
		
		max-width: 300px;
	    
	}

	.h1index {
		
		font-family: 'Gotham Condensed', sans-serif;
		font-weight: 700;
		font-size: 4.3em;
		margin-top: 15%;
		margin-bottom: 0;
	    
	}

	.h2index {
		
		font-family: 'Gotham Condensed', sans-serif;
		font-size: 2em;
		font-weight: 700;
		margin-bottom: 0;
	    
	}

	h1 {
		font-weight: 700;
		font-size: 2.5em;
		line-height: 1em;
		margin-top: 15%;
		margin-bottom: 0.5em;
	}
	
	h2 {
		font-size: 1.5em;
		font-weight: 700;
		margin-top: 1em;
		margin-bottom: 0;
	}
	
	li {
	    margin-top: 0.5em;
	}

	p {
		margin-top: 0.5em;		
	}
	

	img {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}


	mark {
		background-color: rgba(255, 255, 0, 0.3);
	}
	
	figure {
		margin-bottom: 2em;
		margin-left: 0;
		margin-right: 0;
				
	}
	
	.item {
		margin-left: 0.5em;
        border-left: 0.3em solid rgba(53, 123, 179, 0.85); 
        padding-left: 0.4em;
        margin-bottom: -0em;
	}
	
	.tit {
		font-weight: 500;
	}
	
	.aut {
		font-size: 0.9em;
		font-weight: 300;
		font-style: oblique;
	
	}
	
	.dat {
		font-size: 0.6em;
		padding: 0.2em;
		font-weight: 200;
		color: rgba(247, 247, 247, 1);
		background-color: rgba(46, 46, 46, 0.5);		
	}
	
	.att {
		font-size: 0.8em;
		font-weight: 400;
	}


	figcaption {
		text-align: right;
		font-size: 0.7em;
		margin-right: 1em;
		font-weight: 200;
		color: rgba(46, 46, 46, 0.7);
		font-style: oblique;		
	}
	
	footer {
	    background: rgba(46, 46, 46, 1);
	    border-radius: 0.7em;
        border-left: 1em solid rgba(53, 123, 179, 0.85);  
	}  
	
	.symbol {
		margin-top:3em;
		margin-bottom: -2em;  
	}

	.bio {
	    color: rgba(255, 255, 255, 1);
		display:flex;
		align-items:center;
		
	} 

	a:link {
	    color: rgba(46, 46, 46, 1);
	    text-decoration: none;
	    box-shadow: inset 0 -0.4em 0 rgba(53, 123, 179, 0.85);
		}
	
	a:visited {
	    color: rgba(46, 46, 46, 1);
	    text-decoration: none;
	    box-shadow: inset 0 -0.4em 0 rgba(53, 123, 179, 0.85);
		} 
		
	a:hover {
	    color: rgba(255, 255, 255, 1);
	    box-shadow: inset 0 -2em 0 rgba(53, 123, 179, 0.85);
		}    
		
	a:active {
	    font-weight: bold;
		} 

	::selection {
		background-color: rgba(53, 123, 179, 0.68);
		}
	
	.blinking-cursor {
	font-size: 1em;
	margin-top: 15px;
	margin-left: 0px;
	margin-bottom: -10px;
	color: #2e2e2e;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
	
	}
	
	@keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: rgba(53, 123, 179, 0.68);
	  }
	}
	
	@-moz-keyframes blink {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: rgba(53, 123, 179, 0.68);
	  }
	}
	
	@-webkit-keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: rgba(53, 123, 179, 0.85);
	  }
	}
	
	@-ms-keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #2e2e2e;
	  }
	}
	
	@-o-keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #2e2e2e;
	  }
	}


	@font-face {
		font-family: "Gotham Condensed";
		src: url("fonts/GothamCond-Light.otf");
		font-weight: 200;
		}
	@font-face {
		font-family: "Gotham Condensed";
		src: url("fonts/GothamCond-Book.otf");
		font-weight: 400;
		}
	@font-face {
		font-family: "Gotham Condensed";
		src: url("fonts/GothamCond-Medium.otf");
		font-weight: 500;
		}
		@font-face {
		font-family: "Gotham Condensed";
		src: url("fonts/GothamCond-Bold.otf");
		font-weight: 700;
		}
	@font-face {
		font-family: "Gotham Condensed";
		src: url("fonts/GothamCond-Ultra.otf");
		font-weight: 900;
		}

	@font-face {
		font-family: "Gotham Narrow";
		src: url("fonts/GothamNarrow-Light.otf");
		font-weight: 200;
		}
	@font-face {
		font-family: "Gotham Narrow";
		src: url("fonts/GothamNarrow-Book.otf");
		font-weight: 400;
		}
	@font-face {
		font-family: "Gotham Narrow";
		src: url("fonts/GothamNarrow-Medium.otf");
		font-weight: 500;
		}
		@font-face {
		font-family: "Gotham Narrow";
		src: url("fonts/GothamNarrow-Bold.otf");
		font-weight: 700;
		}
	@font-face {
		font-family: "Gotham Narrow";
		src: url("fonts/GothamNarrow-Ultra.otf");
		font-weight: 900;
		}




	@media (prefers-color-scheme: dark) {
 			body {
   				color: rgba(247, 247, 247, 1);
  				background-color: rgba(46, 46, 46, 1);
  			}

  			a:link {
			    color: rgba(53, 123, 179, 1);
			    text-decoration: none;
	   			box-shadow: none;
	   			font-weight: bold;

			   
				}
	
			a:visited {
			    color: rgba(53, 123, 179, 1);
			    text-decoration: none;
	   			box-shadow: none;
	   			font-weight: bold;
			    
				} 
				
			a:hover {
			    color: rgba(247, 247, 247, 1);
			   	text-decoration: none;
	    			box-shadow: inset 0 -1em 0 rgba(53, 123, 179, 0.85);
				
				}    
				
			a:active {
				text-decoration: none;
	   			box-shadow: none;

				}

			footer {

			    background: rgba(247, 247, 247, 0.9);
				border-left: 1em solid rgba(53, 123, 179, 1);


			}  

			.bio {
	    		color: rgba(46, 46, 46, 1);
		
			} 

			figure {

								
			}
		

			figcaption {

				color: rgba(247, 247, 247, 0.7);

			}
			
			.dat {
				color: rgba(46, 46, 46, 1);
				background-color: rgba(247, 247, 247, 0.8);
			}
			

		}